services:
  dev-base: &dev-base
    image: capydi-dev-env:1.0.0
    build:
      context: ..
      dockerfile: ./docker/Dockerfile.dev
    volumes:
      - ..:/capydi
    working_dir: /capydi
    tty: true
  all:
    <<: *dev-base
    command: make NATIVE_MODE=1 USE_BOOST=${USE_BOOST} all

  configure:
    <<: *dev-base
    command: make NATIVE_MODE=1 USE_BOOST=${USE_BOOST} configure

  run:
    <<: *dev-base
    command: make NATIVE_MODE=1 USE_BOOST=${USE_BOOST} run

  test:
    <<: *dev-base
    command: make NATIVE_MODE=1 USE_BOOST=${USE_BOOST} test

  docs:
    <<: *dev-base
    command: make NATIVE_MODE=1 USE_BOOST=${USE_BOOST} docs
