services:
  dev-base: &dev-base
    image: capydi-dev-env:1.0.0
    build:
      context: ..
      dockerfile: ./docker/Dockerfile.dev
    volumes:
      - ..:/capydi
    working_dir: /capydi
    tty: true
  all:
    <<: *dev-base
    command: make NATIVE_MODE=1 ${MAKE_COMMON_ARGS} all

  configure:
    <<: *dev-base
    command: make NATIVE_MODE=1 ${MAKE_COMMON_ARGS} configure

  run:
    <<: *dev-base
    command: make NATIVE_MODE=1 ${MAKE_COMMON_ARGS} run

  test:
    <<: *dev-base
    command: make NATIVE_MODE=1 ${MAKE_COMMON_ARGS} test

  bench:
    <<: *dev-base
    command: make NATIVE_MODE=1 ${MAKE_COMMON_ARGS} bench
    
  docs:
    <<: *dev-base
    command: make NATIVE_MODE=1 ${MAKE_COMMON_ARGS} docs
