name: Generate Doxygen Docs

on:
  push:
    branches:
      - main
    paths:
      - "Doxyfile"
      - "**/*.h"
      - "**/*.hpp"
      - "**/*.c"
      - "**/*.cpp"
      - "**/*.md"

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  docs:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0
          ssh-key: ${{ secrets.CI_SSH_KEY }}

      - name: Set up Docker
        uses: docker/setup-buildx-action@v2

      - name: Install dependencies
        run: sudo ./dev deps

      - name: Generate documentation
        run: ./dev docs

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: docs/output/html

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
