name: Run UTs

on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - edited
      - synchronize
      - reopened
    paths:
      - ".github/**"
      - "core/**"
      - "dependencies/**"
      - "docker/**"
      - "make/**"
      - "scripts/**"
      - "testing/**"
      - "CMakeLists.txt"
      - "Makefile"
      - "dev"
  push:
    branches:
      - main
    paths: 
      - ".github/**"
      - "core/**"
      - "dependencies/**"
      - "docker/**"
      - "make/**"
      - "scripts/**"
      - "testing/**"
      - "CMakeLists.txt"
      - "Makefile"
      - "dev"
jobs:
  test:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Docker
      uses: docker/setup-buildx-action@v2

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y make docker-compose

    - name: Run UTs (Unit Tests)
      run: ./dev deps
      run: ./dev test