name: Run UTs

on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - edited
      - synchronize
      - reopened
    paths-ignore: &ci_ignored_paths
      - "docs/**"
      - "**/*.md"
  push:
    branches:
      - main
    paths-ignore: *ci_ignored_paths
  
jobs:
  test:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        submodules: recursive
        fetch-depth: 0
        ssh-key: ${{ secrets.CI_SSH_KEY }}

    - name: Set up Docker
      uses: docker/setup-buildx-action@v2

    - name: Install dependencies
      run: sudo ./dev deps

    - name: Run UTs (Unit Tests)
      run: ./dev test